<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.barreragerman.listeners.TestListener"/>
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="com.barreragerman.trello.api"/>
            <package name="com.barreragerman.trello.mobile"/>
            <package name="com.barreragerman.trello.web"/>
        </packages>
    </test>

</suite>
